POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
JWT_ISSUER=DevTrackr
JWT_AUDIENCE=DevTrackr
JWT_SIGNING_KEY=devtrackr-super-secret-signing-key
JWT_EXPIRATION_MINUTES=60
GOALS_DEVELOPMENT_USER_ID=11111111-1111-1111-1111-111111111111
